
.bus-details {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/27/19/29/england-1283853_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  

  