
.bus-details {
    background-image: url('https://cdn.pixabay.com/photo/2014/09/04/15/35/collective-435584_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  

  